# ========================
# Java / Eclipse
# ========================
.project
.classpath
.settings/
bin/
/.metadata/

# Ignore everywhere
**/.project
**/.classpath
**/.settings/
**/bin/
**/module-info.java
**/.metadata/
